:root {
  --navHeight: 60px;
  --themeColor: #feae00;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  background-color: #fff;
  height: var(--navHeight);
  line-height: var(--navHeight);
  padding: 0 100px !important;
}

.navbar a {
  text-decoration: none !important;
  font-family: 'tri-bucket';
}

.navbar ul {
  display: flex;
  height: var(--navHeight);
  line-height: var(--navHeight);
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .toggle-menu {
  display: none;
}

.navbar ul li {
  padding: 0px 15px;
}

.navbar .logo a {
  color: var(--themeColor);
  font-weight: bold;
  font-size: 24px;
}



.navbar ul li a {
  display: block;
  color: #000;
  transition: 0.4s;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: var(--themeColor);
}

@media (max-width:711px) {
  .navbar {
    position: relative;
    padding: 0 20px !important;
    height: calc(var(--navHeight) - 20px);
    line-height: calc(var(--navHeight) - 20px);
  }
  .navbar .toggle-menu {
    display: block;
  }
  .navbar .logo a{
    font-size: 18px;
  }
  .navbar .toggle-menu i{
    font-size: 20px;
  }
  .navbar nav {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    left: 0;
    background-color: rgba(0,0,0, 0);
  }
  .navbar.active nav{
    background-color: rgba(0,0,0, .7);
  }
  .navbar.active nav ul{
    right: 0%;
  }
  .navbar nav ul {
    position: absolute;
    display: block;
    width: 100%;
    transition: 0.4s;
    right: -100%;
    height: 100vh;
    background-color: #fff;
    width: 70%;

  }

  .navbar nav ul li {
    width: 100%;
    text-align: center;
    background-color: #fff;
  }
}